:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --accent-color: #2196f3;
  --dark-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --logo-text-color-light: #000000;
  --btn-bg-color: #f5f4fa;
  --primary-bg-color: #e5e5e5;
  --border-color: #ececec;
  --modal-form-border-color: 1px solid rgba(33, 33, 33, 0.2);
  --portfolio-border-color: #eeeeee;
  --box-shadow-main-md-bt-color: rgba(0, 0, 0, 0.15);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* --input-text-color: ; */
}

/* html {
  width: 1600px;
} */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  /* margin-left: 0;
  margin-right: 0; */
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  margin-right: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  /* display: inline-block; */
  /* padding-top: 16px;
  padding-bottom: 16px; */
}

body {
  font-family: var(--primary-font);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;
}

/* ===============components=============== */
.main-modal-btn {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
  border: none;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  background-color: var(--accent-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px var(--box-shadow-main-md-bt-color);
}

.main-modal-btn:hover,
.main-modal-btn:focus {
  background-color: #188ce8;
  color: var(--primary-text-color-theme-dark);
  border: none;
  /* border: var(--accent-color);
  border: 1px solid var(--accent-color); */
}

.modal-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
  border: none;
  border-radius: 4px;
  text-align: center;
  background-color: var(--btn-bg-color);
  padding: 6px 22px;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ===============/components=============== */

/* ===============header=============== */

/* navigation */

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid;
  border-color: var(--border-color);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  /* align-items: center; */
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  /* display: inline-block;
  padding-top: 15px;
  padding-bottom: 10px; */
}

.logo-studio-header {
  color: var(--logo-text-color-light);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.menu-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
  position: relative;
}

.menu-link:hover,
.menu-link:focus {
  background-color: var(--primary-text-color-theme-dark);
  color: var(--accent-color);
}

.menu .menu-link.current {
  color: var(--accent-color);
}

.menu .menu-link.current::after {
  position: absolute;
  bottom: 0;
  /* margin-bottom: -1px; */
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* контакти хедеру які не входлять в навігацію */

.contact-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /* padding-top: 15px;
  padding-bottom: 10px; */
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--secondary-text-color-theme-light);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.contact-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  /* padding-top: 15px;
  padding-bottom: 10px; */
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--secondary-text-color-theme-light);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.contact-phone:hover,
.contact-phone:focus {
  background-color: var(--primary-text-color-theme-dark);
  color: var(--accent-color);
}

.contact-email:hover,
.contact-email:focus {
  background-color: var(--primary-text-color-theme-dark);
  color: var(--accent-color);
}

.email-icon,
.phone-icon {
  margin-right: 10px;
  fill: currentColor;
  justify-content: center;
  align-items: center;
}
/* .contact-item::before {
  width: 16px;
  height: 12px;
  color: #2196f3;
  content: '';
  display: block;
} */
/* .email-icon:hover,
.email-icon:focus {
  fill: var(--accent-color);} */

/* ===============/header=============== */

/* ===============main=============== */

.main-section {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/img_hero/hero-team.jpg');
  background-color: #c4c4c4;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
}
.main-section-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.priorities {
  display: flex;
  align-items: flex-start;
  /* або ще можна застосувати align-items:stretch */
}

/* ставимо display: block; і забираємо ширину
 так як вона атоматишно задається 
 шириною батьківського елементу */
.priorities-item::before {
  content: '';
  display: block;
  /* background-size: ; */
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  /* border: 1px transparent; */
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--btn-bg-color);
}

.icon-antenna::before {
  background-image: url(../images/svg/antenna-icon.svg);
}

.icon-clock::before {
  background-image: url(../images/svg/clock-icon.svg);
}

.icon-diagram::before {
  background-image: url(../images/svg/diagram-icon.svg);
}

.icon-astronaut::before {
  background-image: url(../images/svg/astronaut-icon.svg);
}

.priorities-item {
  flex-basis: calc((100% - 90px) / 4);
}

/* використовуємо flex-basis: це по замовчуванню
можна також width: (одне й теж саме) */

.priorities-item:not(:last-child) {
  margin-right: 30px;
}

.priorities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 10px;
}

.priorities-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  /* min-height: 72px; */
}

.specialization-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.specialization-section {
  padding-bottom: 94px;
}

.specialization {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.specialization-item {
  flex-basis: calc((100% - 60px) / 3);
}

.specialization-wrapper {
  position: relative;
}

.specialization-name {
  position: absolute;
  bottom: 0;
  padding: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-section {
  background-color: var(--btn-bg-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  padding-bottom: 10px;
}

.team-member-proffesion {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 16px;
}

.team-member-card-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--primary-text-color-theme-dark);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-member-item {
  display: inline-block;
  margin-left: 0;
}

.team-member-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.team-member-link:hover,
.team-member-link:focus {
  background-color: var(--accent-color);
}

.team-member-link:hover .team-member-icon,
.team-member-link:focus .team-member-icon {
  fill: #ffffff;
}

.team-member-icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}
.team-member-icon:hover,
.team-member-icon:focus {
  fill: #ffffff;
}

.regular-customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent-color);
}

.customers-icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}

.customers-item {
  display: inline-block;
  margin-left: 0;
  /* border: 1px solid #afb1b8;
  border-radius: 4px; */
}

/* ===============/main=============== */

/* ===============footer=============== */
.page-footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer-container-list {
  display: flex;
  align-items: baseline;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer_logo {
  margin-right: 156px;
}

.footer-contact {
  font-style: normal;
}

.logo-studio-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-text-color-theme-dark);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-contact-location {
  /* display: inline-block; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.footer-contact-email {
  /* display: inline-block; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.footer-contact-phone {
  /* display: inline-block; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.footer-contact-location:hover,
.footer-contact-location:focus {
  background-color: var(--dark-bg-color);
  color: var(--accent-color);
}

.footer-contact-email:hover,
.footer-contact-email:focus {
  background-color: var(--dark-bg-color);
  color: var(--accent-color);
}

.footer-contact-phone:hover,
.footer-contact-phone:focus {
  background-color: var(--dark-bg-color);
  color: var(--accent-color);
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-social-list-item {
  display: inline-block;
  margin-left: 0;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}

.footer-social-list-icon {
  fill: var(--primary-text-color-theme-dark);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-form-item {
  display: block;
  margin-left: 93px;
}

.footer-form {
  /* display: flex;
  flex-direction: column; */
}

.footer-form-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.footer-form-wrapper {
  display: flex;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  color: var(--primary-text-color-theme-dark);
}

.footer-form-input::placeholder {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-form-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 28px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer-form-button-icon {
  margin-left: 10px;
}

/* ===============/footer=============== */

/* приховуємо заголовок другої 
секції в index.html та заголовок в portfolio.html*/

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===============portfolio=============== */

.button {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.portfolio-filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-projects-link {
  display: block;
}

.portfolio-projects-link:hover .overlay,
.portfolio-projects-link:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-projects-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.modal-button-container {
  margin-bottom: 50px;
}

.portfolio-project-card-wraper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--portfolio-border-color);
  border-top: transparent;
}

.portfolio-project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
  padding-bottom: 4px;
}

.portfolio-project-description {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.portfolio-projects-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-text-color-theme-dark);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

/* ===============/portfolio=============== */

/* ===============modal-window=============== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  /* поки немає контенту то вікну задаємо і залишаємо
  фіксовану висоту та ширину */
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}

/* ===============/modal-window=============== */

/* ===============modal-window-form=============== */
.modal-form-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: var(--modal-form-border-color);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  transition: fill var(--transition-dur-and-func);
}

.modal-form-message {
  resize: none;
  outline: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: var(--modal-form-border-color);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  border-color: var(--accent-color);
}

.modal-form-field-user-msg {
  margin-bottom: 20px;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.modal-form-check-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color-theme-light);
  cursor: pointer;
  border-radius: 2px;
  transition: border-color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
  margin-right: 7px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../images/svg/check-form-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-color: var(--accent-color);
}

.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 2px solid var(--accent-color);
}

.terms-of-contract {
  color: var(--accent-color);
}

.modal-form-submit {
  padding: 10px 52px;
  align-self: center;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
  border: none;
  border-radius: 4px;
  /* text-align: center; */
  /* align-items: center; */
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--box-shadow-main-md-bt-color);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #188ce8;
  color: var(--primary-text-color-theme-dark);
  border: none;
}

/* ===============/modal-window-form=============== */
