.page-footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer-container-list {
  display: flex;
  align-items: baseline;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer_logo {
  margin-right: 156px;
}

.footer-contact {
  font-style: normal;
}

.logo-studio-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-text-color-theme-dark);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-contact-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--dark-bg-color);
    color: var(--accent-color);
  }
}

.footer-contact-email {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--dark-bg-color);
    color: var(--accent-color);
  }
}

.footer-contact-phone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--dark-bg-color);
    color: var(--accent-color);
  }
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-social-list-item {
  display: inline-block;
  margin-left: 0;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-list-icon {
  fill: var(--primary-text-color-theme-dark);
}
