.contact-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--secondary-text-color-theme-light);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--primary-text-color-theme-dark);
    color: var(--accent-color);
  }
}

.contact-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--secondary-text-color-theme-light);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--primary-text-color-theme-dark);
    color: var(--accent-color);
  }
}

.email-icon,
.phone-icon {
  margin-right: 10px;
  fill: currentColor;
  justify-content: center;
  align-items: center;
}
