// 0px -767px

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;

    flex-direction: column;
  }

  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contact__phone {
    // display: flex;
    // align-content: center;
    // // justify-content: start;
    @include font(12px, 500, 14px);
    letter-spacing: 0.02em;
    @extend %align;
    color: var(--secondary-text-color-theme-light);
    transition: color var(--transition-dur-and-func),
      background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
      background-color: var(--primary-text-color-theme-dark);
      color: var(--accent-color);
    }
  }

  .contact__email {
    // display: flex;
    // align-content: center;
    // justify-content: start;
    @include font(12px, 500, 14px);
    letter-spacing: 0.02em;
    // margin-right: 50px;
    @extend %align;
    color: var(--secondary-text-color-theme-light);
    transition: color var(--transition-dur-and-func),
      background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
      background-color: var(--primary-text-color-theme-dark);
      color: var(--accent-color);
    }
  }

  .contact__email-icon,
  .contact__phone-icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
// .contact__phone {
//   @include font(14px, 500, 16px);
//   letter-spacing: 0.02em;
//   @extend %align;
//   color: var(--secondary-text-color-theme-light);
//   transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

//   &:hover,
//   &:focus {
//     background-color: var(--primary-text-color-theme-dark);
//     color: var(--accent-color);
//   }
// }

// .contact__email {
//   @include font(14px, 500, 16px);
//   letter-spacing: 0.02em;
//   margin-right: 50px;
//   @extend %align;
//   color: var(--secondary-text-color-theme-light);
//   transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

//   &:hover,
//   &:focus {
//     background-color: var(--primary-text-color-theme-dark);
//     color: var(--accent-color);
//   }
// }

// .contact__email-icon,
// .contact__phone-icon {
//   margin-right: 10px;
//   fill: currentColor;
//   justify-content: center;
//   align-items: center;
// }
