// 0px -767px

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;

    flex-direction: column;
  }

  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contact__phone {
    display: flex;
    align-content: center;
    justify-content: start;
    @include font(12px, 500, 14px);
    letter-spacing: 0.02em;

    color: var(--secondary-text-color-theme-light);
    transition: color var(--transition-dur-and-func),
      background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
      background-color: var(--primary-text-color-theme-dark);
      color: var(--accent-color);
    }
  }

  .contact__email {
    display: flex;
    align-content: center;
    justify-content: start;
    @include font(12px, 500, 14px);
    letter-spacing: 0.02em;

    color: var(--secondary-text-color-theme-light);
    transition: color var(--transition-dur-and-func),
      background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
      background-color: var(--primary-text-color-theme-dark);
      color: var(--accent-color);
    }
  }

  .contact__email-icon,
  .contact__phone-icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    align-items: center;
    margin-left: auto;
    flex-direction: row;
  }
  .contact__phone {
    justify-content: center;
    @include font(14px, 500, 16px);
  }

  .contact__item:not(:last-child) {
    margin-bottom: 0px;
  }

  .contact__email {
    justify-content: center;
    @include font(14px, 500, 16px);
    margin-right: 50px;
  }

  .contact__email-icon,
  .contact__phone-icon {
    justify-content: center;
    align-items: center;
  }
}
