.specialization-title {
    @include font(36px, 700, 42px);
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
}

.specialization-section {
    padding-bottom: 94px;
}

.specialization {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.specialization-item {
    flex-basis: calc((100% - 60px) / 3);
}

.specialization-wrapper {
    position: relative;
}

.specialization-name {
    position: absolute;
    bottom: 0;
    padding: 27px;
    width: 100%;
    @include font(14px, 700, 16px);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
    background-color: rgba(47, 48, 58, 0.8);
}