h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
    
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
   
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
    margin-right: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
    
}

body {
    font-family: var(--primary-font);
}