:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #ffffff;
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;
    --accent-color: #2196f3;
    --dark-bg-color: #2f303a;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --logo-text-color-light: #000000;
    --btn-bg-color: #f5f4fa;
    --primary-bg-color: #e5e5e5;
    --border-color: #ececec;
    --modal-form-border-color: 1px solid rgba(33, 33, 33, 0.2);
    --portfolio-border-color: #eeeeee;
    --box-shadow-main-md-bt-color: rgba(0, 0, 0, 0.15);
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* --input-text-color: ; */
}